@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}
.nav-bar {
  padding: 10px;
  height: 40px;
}
.nav-bar h1 {
  float: left;
  font-weight: 400;
}
.icon {
  height: 30px;
  width: 30px;
  float: right;
}
